*{
   padding:0;
   margin:0;
   border:0;
}

*,*:before,*:after{
   -moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;
}

input,button,textarea{
   font-family:inherit;
}

button{
   display:inline-block; 
   cursor:pointer; 
   background-color: transparent; 
   border:none;
}

a,a:visited{
   text-decoration:none;
   color: #fff;
}

a:hover{
   text-decoration:none;
}

ul li{
   list-style:none;
}
h1,h2,h3,h4,h5,h6{
   font-size: inherit; font-weight: inherit;
}
