$mainPurple: #120d1f;
$shadowPurple: #201b2c;
$lightPurple: #311d5f;
$primaryColor: #0085fa;
$secondaryColor: #61daff;
$starColor: #ffba07;
$whiteColor: #fff;
$blackColor: #000;

$boxShadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
$mainTransition: 0.6s cubic-bezier(0, 0, 0.3642, 1);


// functions
@function toRem($value) {
  $remValue: (calc($value / 16)) + rem;
  @return $remValue;
}

@function toEm($value) {
  $remValue: (
    $value / 16) + em;
  @return $remValue;
}

// mockup width

$maxWidth: toRem(1980);
$minWidth: toRem(360);

// container width

$container: toRem(1520);

$secondContainer: toRem(996);

$containerPadding: toRem(10);

$containerWidth: toRem(1520 + 10);

// device width

$ps: toEm($containerWidth);
$tablet: toEm(991.98);
$sTablet: toEm(767.98);
$mobile: toEm(575.98);
$sMobile: toEm(360);

@mixin container {
  width: 100%;
  max-width: $container;
  padding: 0 toRem(10);
  margin: 0 auto;
  @media (max-width: $tablet) {
    padding: 0 toRem(30);
 }
}

@mixin adaptiveMaxValue($property, $S-max, $S-min ) {
   $k: calc(($S-max - $S-min)/(1500 - 1200));
   $b: $S-min - $k * 1200;
   $b: $b + px;
   #{$property}: calc(#{$k} * 100vw + #{$b})
 }

@mixin adaptiveValue($property, $S-max, $S-min ) {
   $k: calc(($S-max - $S-min)/(1980 - 991.98));
   $b: $S-min - $k * 991.98;
   $b: $b + px;
   #{$property}: calc(#{$k} * 100vw + #{$b})
 }

@mixin adaptiveSTabletValue($property, $S-max, $S-min ) {
   $k: calc(($S-max - $S-min)/(767.98 - 575.98));
   $b: $S-min - $k * 575.98;
   $b: $b + px;
   #{$property}: calc(#{$k} * 100vw + #{$b})
 }

@mixin adaptiveMobileValue($property, $S-max, $S-min ) {
   $k: calc(($S-max - $S-min)/(575.98 - 360));
   $b: $S-min - $k * 360;
   $b: $b + px;
   #{$property}: calc(#{$k} * 100vw + #{$b})
 }




 