@import '../../styles/vars';

.section {
   min-height: 100vh;
   padding-top: toRem(50)
}

.container {
   @include container;
}

.title {
   margin-bottom: toRem(70);
   text-align: center;
}

.cardContainer {
   display: flex;
   align-items: center;
}