@import '../../app/styles/vars';

.section {
   min-height: 100vh;
   padding-top: toRem(100);
   padding-bottom: toRem(100);
   @media (max-width: $mobile) {
      padding-top: toRem(40);
      padding-bottom: toRem(40);
   }
}

.note {
   position: relative;
   right: 23%;
   font-size: toRem(13);
   text-align: right;
   margin-right: toRem(30);
   margin-bottom: toRem(60);
   &::after {
      content: "";
      position: absolute;
      left: calc(100% + toRem(30));
      top: toRem(10);
      width: toRem(440);
      height: toRem(1.5);
      background: linear-gradient(to right, rgba(255,255,255,0) -5%,rgba(255,255,255,0.25) 40%,rgba(255,255,255,0.4) 90%);  
   }
   @media (max-width: $tablet) {
      margin-right: toRem(30);
      right: 0;
      &::after {
         content: "";
         width: 0;
         height: 0;
         background: none;  
      }
   }
   @media (max-width: $sTablet) {
      right: 50%;
      margin-right: 0;
      transform: translateX(50%);
      margin-bottom: toRem(40);
      text-align: center;
   }

}
.container {
   @include container;
   text-align: center;
   position: relative;
}

.title {
   margin-bottom: toRem(70);
   text-align: center;
   text-transform: lowercase;
   background-image: linear-gradient(to top right, $primaryColor, $secondaryColor,);
   color: transparent;
   background-clip: text;   
   & span {
      color: $whiteColor;
      text-transform: capitalize;
   }
   @media (max-width: $sTablet) {
      margin-bottom: toRem(40);
   }
}

.btnContainer {
   display: flex;
   justify-content: center;
   gap: toRem(15);
   margin-bottom: toRem(60);
   height: toRem(140);
}

.btnPick:nth-child(even) {
   align-self: flex-end;
}

.bulletContainer {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: toRem(10);
   height: toRem(140);
   position: absolute;
   top: 0 !important;
   z-index: 3;
   @media (max-width: $tablet) {
      gap: toRem(30) toRem(40);
   }
   @media (max-width: $sTablet) {
      gap: toRem(20) toRem(30);
   }
   @media (max-width: $mobile) {
      gap: toRem(8) toRem(5);
   }

}

.bullet {
   width: toRem(104);
   height: toRem(104);
   border-radius: 50%;
   cursor: pointer;
   padding: toRem(11);
   transition: $mainTransition;
   &:nth-child(even) {
      align-self: flex-end;
   }   
   @media (any-hover: hover) {
      &:hover {
         box-shadow: inset 3px 0 2px 2px $primaryColor, inset -3px 0 0 2px $secondaryColor,
         inset 0 3px 3px 2px $secondaryColor, inset 0 -3px 3px 2px $secondaryColor;
      }
   }
   @media (max-width: $sTablet) {
      width: toRem(80);
      height: toRem(80);   
      padding: toRem(9);
      &:hover {
         box-shadow: inset 3px 0 1px 1px $primaryColor, inset -3px 0 0 1px $secondaryColor, inset 0 3px 2px 1px $secondaryColor, inset 0 -3px 2px 1px $secondaryColor;
      }
   }
   @media (max-width: $mobile) {
      width: toRem(70);
      height: toRem(70);   
   }
}

.dot {
   background-color: $primaryColor;
   width: toRem(82);
   height: toRem(82);
   border-radius: 50%;
   background-size: cover;
   background-position: top;
   overflow: hidden;
   @media (max-width: $sTablet) {
      width: toRem(62);
      height: toRem(62);   
   }
   @media (max-width: $mobile) {
      width: toRem(53);
      height: toRem(53);   
   }
}

.img {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: contain;
   background-repeat: no-repeat;
}

.bulletActive {
   box-shadow: inset 3px 0 2px 2px $primaryColor, inset -3px 0 0 2px $secondaryColor, inset 0 3px 3px 2px $secondaryColor, inset 0 -3px 3px 2px $secondaryColor;
   // @media (any-hover: hover) {
   //    &:hover {
   //       box-shadow: inset 3px 0 2px 2px $primaryColor, inset -3px 0 0 2px $secondaryColor, inset 0 3px 3px 2px $secondaryColor, inset 0 -3px 3px 2px $secondaryColor;
   //    }
   // }
   @media (max-width: $sTablet) {
      box-shadow: inset 3px 0 1px 1px $primaryColor, inset -3px 0 0 1px $secondaryColor, inset 0 3px 2px 1px $secondaryColor, inset 0 -3px 2px 1px $secondaryColor;
   }
}

.nextBtn {
   position: absolute;
   width: toRem(40);
   height: toRem(40);
   background: linear-gradient(to bottom right, rgba($color: $secondaryColor, $alpha: 0.6), rgba($color: $primaryColor, $alpha: 0.6));
   cursor: pointer;
   border-radius: 50%;
   top: 62%;
   right: 0;
   right: 19%;
   z-index: 3;
   transition: $mainTransition;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: -2px 1px 5px 1px rgba(2, 1, 2, 0.85);
   &:after {
      content: '\1F86A'
   }
   @media (any-hover: hover) {
      &:hover {
         transform: scale(1.1);
      }
   }
   @media (max-width: $tablet) {
      right: 5%;
      top: 68%;
   }
   @media (max-width: $sTablet) {
      right: 1%;
      top: 63%;
   }
   @media (max-width: $mobile) {
      top: 43%;
   }
}

.prevBtn {
   position: absolute;
   width: toRem(40);
   height: toRem(40);
   border-radius: 50%;
   background: linear-gradient(to bottom right, rgba($color: $secondaryColor, $alpha: 0.6), rgba($color: $primaryColor, $alpha: 0.6));
   cursor: pointer;
   top: 62%;
   left: 19%;
   transition: $mainTransition;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: -2px 1px 5px 1px rgba(2, 1, 2, 0.85);
   z-index: 3;
   &:after {
      content: '\1F868'
   }
   @media (any-hover: hover) {
      &:hover {
         transform: scale(1.1);
      }
   }
   @media (max-width: $tablet) {
      top: 68%;
      left: 5%;
   }
   @media (max-width: $sTablet) {
      left: 1%;
      top: 63%;
   }
   @media (max-width: $mobile) {
      top: 43%;
   }
}
 
.disBtn {
   background: rgba($color: $primaryColor, $alpha: 0.4);
   box-shadow: -2px 1px 5px 1px rgba(2, 1, 2, 0.5);
   &:after {
      opacity: 0.4;
   }
   @media (any-hover: hover) {
      &:hover {
         transform: none;
         cursor: unset;
      }
   }
}
