@import '../../../styles/vars';

.copyright {
   display: inline-flex;
   gap: toRem(8);
   align-items: baseline;
   font-size: toRem(14);
   text-align: center;
   margin-bottom: toRem(40);
}

.link {
   font-size: toRem(17);
   font-weight: 800;
}