@import '../../../styles/vars';

.nav {
   flex-basis: 70%;
   flex-grow: 2;
   flex-shrink: 1;
}

.list {
   max-width: 100%;
   display: flex;
   justify-content: space-between;
   font-size: 1rem;
   font-weight: 600;
   gap: toRem(10);
   color: rgba($whiteColor, 0.85);
   letter-spacing: toRem(2);
   text-wrap: nowrap;
   @media (any-hover: hover) {
      a:hover {
         transition: $mainTransition;
         color: $primaryColor;
      }
    }
}