@import '../../app/styles/vars';

.section {
   padding-top: toRem(100);
   padding-bottom: toRem(100);
}

.container {
   @include container;
}

.wrapper {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   @media (max-width: toRem(1200)) {
      justify-content: center;
      gap: toRem(50);
   }
   @media (max-width: $tablet) {
      justify-content: center;
      gap: toRem(80);
   }
   @media (max-width: $sTablet) {
      justify-content: center;
      gap: toRem(23);
      & p {
         font-size: toRem(16);
      }
   }
}

.title {
   margin-bottom: toRem(70);
   text-align: center;
   background-image: linear-gradient(to top right, $primaryColor, $secondaryColor,);
   color: transparent;
   background-clip: text;   
   & span {
      color: $whiteColor;
   }
   @media (max-width: $sTablet) {
      margin-bottom: toRem(40);
   }
}

.itemWrapper {
   display: flex;
   justify-content: space-between;
   gap: toRem(10);
   align-items: center;
   position: relative;
   &:nth-child(-n+3)::after {
      content: '';
      display: block;
      width: 1px;
      position: absolute;
      @include adaptiveMaxValue ("right", -50,  -22);
      height: 100%;
      background: radial-gradient(ellipse at center,rgba(255, 255, 255, 0.315) 0,rgba(31,45,61,0) 80%);
   }
   @media (max-width: toRem(1200)) {
      &:nth-child(n+3)::after {
         content: '';
         width: 0;
      }      
   }
   @media (max-width: $tablet) {
      &:nth-child(n+1)::after {
         content: '';
         width: 0;
      }      
   }
}

// .img {
//    width: toRem(300);
// }

