@import '../../app/styles/vars';

.section {
   min-height: 100vh;
   padding-top: toRem(64);
   background-image: url(../../../public/img/background_1.jpg);
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   clip-path: polygon(0% 0%, 100.1% 0%, 100.1% 89.3%, 0% 99.5%);
}

.container {
   @include container;
}

.wrapper {
   display: flex;
   justify-content: space-between;
   gap: toRem(120);
   align-items: center;
}

.preTitle {
   font-weight: 600;
   margin-bottom: toRem(30);
}

.title {
   & span {
      background-image: linear-gradient(to top right, $primaryColor, $secondaryColor,);
      color: transparent;
      background-clip: text
   }
}

.text {
   color: $whiteColor;
   font-weight: 600;
}

.type {
   display: inline-block;
   font-size: 4rem; 
   font-weight: 800; 
   margin-bottom: toRem(30) 
}