@import '../../app/styles/vars';

.section {
   min-height: 100vh;
   padding-top: toRem(64);
   background-image: url(../../../public/img/background_1.jpg);
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   clip-path: polygon(0% 0%, 100.1% 0%, 100.1% 89.3%, 0% 99.5%);
}

.container {
   @include container;
}

.wrapper {
   display: flex;
   justify-content: space-between;
   gap: toRem(20);
   align-items: center;
   margin-top: toRem(50);
}

.preTitle {
   font-weight: 600;
   margin-bottom: toRem(30);
}

.title {
   & span {
      background-image: linear-gradient(to top right, $primaryColor, $secondaryColor,);
      color: transparent;
      background-clip: text
   }
}

.text {
   color: $whiteColor;
   font-weight: 600;
   flex-basis: 50%;

}

.type {
   display: inline-block;
   font-size: 4rem; 
   font-weight: 800; 
   margin-bottom: toRem(30) 
}

.img_container {
   max-width: toRem(530);
   flex-basis: 40%;
   flex-grow: 2;
   flex-shrink: 1;
}

.img {
   border: 2px solid rgba(80, 80, 80, 0.507);
   border-radius: toRem(30);
   border-bottom-right-radius: toRem(190);
   border-top-left-radius: toRem(110);
   width: 100%;
}