@import '../../../styles/vars';

.header {
   padding: toRem(20) 0;
   background-color: transparent;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   z-index: 2;
}

.container {
   @include container;
}

.wrapper {
   width: 100%;
   display: flex;
   justify-content: space-between;
   gap: toRem(40);
}