@import '../../app/styles/vars';

.section {
   min-height: 100vh;
   padding-top: toRem(100);
   padding-bottom: toRem(100);
   @media (max-width: $mobile) {
      padding-top: toRem(40);
      padding-bottom: toRem(40);
   }
}

.note {
   position: relative;
   left: 23%;
   font-size: toRem(13);
   text-align: left;
   margin-left: toRem(30);
   margin-bottom: toRem(60);
   &::after {
      content: "";
      position: absolute;
      right: calc(100% + toRem(30));
      top: toRem(10);
      width: toRem(440);
      height: toRem(1.5);
      background: linear-gradient(to left, rgba(255,255,255,0) -5%,rgba(255,255,255,0.25) 40%,rgba(255,255,255,0.4) 90%);  
   }
   @media (max-width: $tablet) {
      margin-right: toRem(30);
      right: 0;
      &::after {
         content: "";
         width: 0;
         height: 0;
         background: none;  
      }
   }
   @media (max-width: $sTablet) {
      right: 50%;
      margin-right: 0;
      transform: translateX(50%);
      margin-bottom: toRem(40);
      text-align: center;
   }

}

.container {
   @include container;
}

.title {
   margin-bottom: toRem(70);
   text-align: center;
   background-image: linear-gradient(to top right, $primaryColor, $secondaryColor,);
   color: transparent;
   background-clip: text;   
   & span {
      color: $whiteColor;
   }
   @media (max-width: $sTablet) {
      margin-bottom: toRem(40);
   }
}

.wrapper {
   display: flex;
   justify-content: space-between;
   gap: toRem(40);
}

.left {
   margin-left: toRem(20);
}

.right {
   margin-left: toRem(20);
}

.list {
   list-style: none;
}

.item {
   position: relative;
   border-left: 1px solid rgba(255,255,255,0.2);
   counter-increment: my-awesome-counter;
   &:before {
      content: counter(my-awesome-counter);
      display: inline-block;
      font-weight: bold;
      position: absolute;
      top: 8px;
      left: -5px;
      z-index: 3;      
 }
}

.itemTitle {
   background-color: $shadowPurple;
   border-radius: toRem(30);
   position: relative;
   border: 1px solid rgba(255, 255, 255, 0.16);
   padding: toRem(10) toRem(5) toRem(10) toRem(35);
   line-height: 1.3;
   z-index: 2;
   &::before {
      padding: toRem(2);
      content: '';
      font-size: toRem(13);
      position: absolute;
      transform: translateX(-50%) translateY(-25%);
      left: 0;
      display: inline-block;
      width: toRem(46);
      height: toRem(46);
      line-height: 3;
      text-align: center;
      border-radius: 50%;
      background-image: linear-gradient(215deg, $primaryColor 0%, $secondaryColor 55%, $primaryColor 90% );
      background-size: 280% auto;
      box-shadow: 
      0px 0px 5px rgba(71, 184, 255, 0.5),
      inset 4px 4px 8px rgba(175, 230, 255, 0.5),
      inset -4px -4px 8px rgba(19, 95, 216, 0.35);
   }
}

.itemText {
   padding: toRem(25) 0 toRem(40) toRem(40);
}


