@import '../../app/styles/vars';

.section {
   min-height: 100vh;
   padding-top: toRem(100);
   padding-bottom: toRem(100);
}

.container {
   @include container;
}

.title {
   margin-bottom: toRem(70);
}
