@import '../../styles/vars';

.section {
   min-height: 100vh;
   padding-top: toRem(50);
   // background-attachment: fixed;
   // background-position: center;
   // background-repeat: no-repeat;
   // background-size: cover;
}

.note {
   position: relative;
   right: 23%;
   font-size: toRem(13);
   text-align: right;
   margin-right: toRem(30);
   margin-bottom: toRem(60);

   &::after {
      content: "";
      position: absolute;
      left: calc(100% + toRem(30));
      top: toRem(10);
      width: toRem(440);
      height: toRem(0.8);
      background: linear-gradient(to right, rgba(255,255,255,0) -5%,rgba(255,255,255,0.25) 40%,rgba(255,255,255,0.4) 90%);  
   }
}
.container {
   @include container;
   text-align: center;
}

.title {
   margin-bottom: toRem(70);
   text-align: center;
}

.img {
   color: $starColor;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   top: 33.5%;
}

.btnContainer {
   display: flex;
   justify-content: center;
   gap: toRem(15);
   margin-bottom: toRem(60);
   height: toRem(140);
}

.btnPick:nth-child(even) {
   align-self: flex-end;
}

.bulletContainer {
   display: flex;
   justify-content: center;
   gap: toRem(12);
   height: toRem(140);
   position: absolute;
   top: 0 !important;
   z-index: 3;
}

.bullet {
   width: toRem(112);
   height: toRem(112);
   border-radius: 50%;
   cursor: pointer;
   padding: toRem(11);
   transition: $mainTransition;
   &:nth-child(even) {
      align-self: flex-end;
   }
   &:hover {
      box-shadow: inset 3px 0 2px 2px $primaryColor, inset -3px 0 0 2px $secondaryColor, inset 0 3px 3px 2px $secondaryColor, inset 0 -3px 3px 2px $secondaryColor;
   }
}

.dot {
   background-color: $primaryColor;
   width: toRem(90);
   height: toRem(90);
   border-radius: 50%;
   background-size: cover;
   background-position: top;
}

.bulletActive {
   box-shadow: inset 3px 0 2px 2px $primaryColor, inset -3px 0 0 2px $secondaryColor, inset 0 3px 3px 2px $secondaryColor, inset 0 -3px 3px 2px $secondaryColor;
   &:hover {
      box-shadow: inset 3px 0 2px 2px $primaryColor, inset -3px 0 0 2px $secondaryColor, inset 0 3px 3px 2px $secondaryColor, inset 0 -3px 3px 2px $secondaryColor;
   }
}

 
