@import '../../styles/vars';

.card {
   flex: 1 2 25%;
   @include adaptiveValue ("padding", 20,  15);
   border-radius: toRem(10);
   height: toRem(540);
   background-size: 300% auto;
   background-image: linear-gradient(220deg, $primaryColor 0%, $secondaryColor 55%, $primaryColor 90% );
   color: $whiteColor;
   transition: $mainTransition;
   box-shadow:
   0px 0px 7px rgba(71, 184, 255, 0.5),
   inset 4px 4px 8px rgba(175, 230, 255, 0.5),
   inset -4px -4px 8px rgba(19, 95, 216, 0.35);   
   @media (any-hover: hover) {
      &:hover {
         background-position: right top;
      }
   }
   @media (max-width: toRem(1200)) {
      order: -1;
   }
   @media (max-width: $sTablet) {
      height: toRem(480);
   }
}
   
.cardDark {
   flex: 1 2 25%;
   @include adaptiveValue ("padding-top", 25,  20);
   @include adaptiveValue ("padding-bottom", 25,  20);
   @include adaptiveValue ("padding-left", 20,  10);
   @include adaptiveValue ("padding-right", 20,  10);
   height: toRem(490);
   background-color: $shadowPurple;
   border: 1px solid rgba(255, 255, 255, 0.16);
   border-left: none;
   @media (max-width: toRem(1200)) {
      border-radius: toRem(10);
      border-left:  1px solid rgba(255, 255, 255, 0.16);
   }
   @media (max-width: $sTablet) {
      height: toRem(430);
   }
}

.leftRadius {
   border-top-left-radius: toRem(10);
   border-bottom-left-radius: toRem(10);
}

.rightRadius {
   border-top-right-radius: toRem(10);
   border-bottom-right-radius: toRem(10);
}

.wrapper {
   margin: 0 auto;
   border-radius: toRem(10);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
   padding: toRem(4);
   @media (max-width: $sTablet) {
      padding: toRem(0);
   }
}

.border {
   border: 0.8px solid rgba(255, 255, 255, 0.30 );
}
.header {
   position: relative;
   margin: 0 auto;
   text-align: center;
   margin-top: toRem(10);
   &::after {
   content: '';
   display: block;
   width: 100%;
   position: relative;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   height: 1px;
   background: radial-gradient(ellipse at center,rgba(255, 255, 255, 0.315) 0,rgba(31,45,61,0) 80%);
   }
}

.title {
   margin-bottom: toRem(10);
}

.cost {
   margin-bottom: toRem(10);
   font-weight: 800;
   font-size: toRem(40);
   & span {
      font-size: toRem(30);
   }
}

.discountCost {
   display: inline-block;
   margin-bottom: toRem(10);
   font-size: toRem(24);
   text-decoration: line-through;
   & span {
      font-size: toRem(20);
      text-decoration: none;
   }
}

.note {
   position: absolute;
   background: linear-gradient(to top right, $lightPurple, rgb(56, 56, 170));
   box-shadow: -1px 1px 3px 1px rgba(16, 12, 20, 0.35);
   bottom: -33%;
   left: 50%;
   transform: translateX(-50%);
   padding: toRem(4) toRem(18);
   border-radius: toRem(6);
   line-height: 1.7;
   font-weight: 800;
   font-size: toRem(16);
   z-index: 2;
   @media (max-width: $sTablet) {
      font-size: toRem(12);
      bottom: -26%;
   }
}

.list {
   margin-left: toRem(13);
   @include adaptiveValue ("margin-left", 17, 0);
   font-weight: 600;
   font-size: toRem(14);
   text-wrap: nowrap;
   @media (max-width: toRem(1200)) {
      margin-left: toRem(12);
   }
   @media (max-width: $sTablet) {
      font-size: toRem(12);
      @include adaptiveSTabletValue("margin-left", 16, 12 );
   }
   @media (max-width: $mobile) {
      font-size: toRem(12);
      margin-left: 7%;
   }
}

.item {
   margin-bottom: toRem(8);
   & span {
      display: inline-block;
      margin-right: toRem(14);
      font-weight: 800;
      font-size: toRem(14);
      @media (max-width: $sTablet) {
         margin-right: toRem(10);
      }
   }
}

.circle {
   display: inline-block;
   background: linear-gradient(rgb(56, 56, 170), $lightPurple);
   box-shadow: -1px 1px 5px 1px rgba(70, 50, 83, 0.55);
   width: toRem(22);
   height: toRem(22);
   border-radius: 50%;
   text-align: center;
}

.circleLight {
   display: inline-block;
   background: linear-gradient($secondaryColor, $primaryColor);
   box-shadow: -1px 1px 5px 1px rgba(16, 12, 20, 0.712);
   width: toRem(22);
   height: toRem(22);
   border-radius: 50%;
   text-align: center;
}

.btnContainer {
   position: relative;
   bottom: toRem(29);
   width: 90%;
   margin: 0 auto;
   height: toRem(63);
   @media (max-width: $sTablet) {
      margin: 0 auto;
      width: 90%;
   }
}

.btnDarkContainer {
   position: relative;
   width: 90%;
   margin: 0 auto;
   height: toRem(62);
   @media (max-width: $sTablet) {
      margin: 0 auto;
      width: 90%;
   }
}
