@import '../../../../styles/vars';

.button {
   height: 100%;
   width: 100%;
   font-size: 1.1rem;
   font-weight: 800;
   transition: $mainTransition;
   border: 0;
   display: flex;
   justify-content: center;
   margin: 0 auto;
   align-items: center;
   text-align: center;
   border-radius: toRem(8);
   background-color: $whiteColor;
   color: $lightPurple !important;
   border: 2px solid $lightPurple;
   text-transform: uppercase;
   padding: 15px 18px;
   box-shadow: -1px 1px 5px 1px rgba(70, 50, 83, 0.55);
   overflow: hidden;
   @media (any-hover: hover) {
      &:hover {
         outline: 0;
         transform: scale(0.98, 0.98);
      }
   }
 }