@import '../../styles/vars';

.card {
   max-width: toRem(750);
   margin: 0 auto;
   text-align: center;
   margin-top: toRem(250);
}

.title {
   text-transform: capitalize;
   margin-bottom: toRem(30);
}

.noteWrapper {
   position: relative;
}

.note {
   margin-bottom: toRem(30);
}
